body{
    font: normal 15pt arial;
    background-color: dodgerblue;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}

div{
    padding: 8px;
    text-align: center;
}

footer{
    text-align: center;
    font-style: italic;
    color: white;
}
